<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 加载属性文件 -->
    <properties resource="jdbc.properties"/>

    <settings>
        <!-- 数据库下划线转驼峰 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 打印sql语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!-- 设置实体对象所在的包设置实体对象的别名，
        默认是将该类的名称首字母小写，也可以使用@Alias 注解自定义
        也可以使用 typeAlias 单一指定 -->
    <typeAliases>
        <package name="com.zzz.mybatis.entity"/>
    </typeAliases>


    <!-- 开发配置信息 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- mapper 接口所在的包，mybatis会自动扫描查找 也可以使用 mapper 单独指定 -->
    <mappers>
        <package name="com.zzz.mybatis.mapper"/>
    </mappers>

</configuration>