<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 指定当前 mapper 和 Mapper对象的映射关系 -->
<mapper namespace="com.iogogogo.mapper.DeviceMapper">

    <resultMap id="dev_map" type="com.iogogogo.entity.DeviceEntity">
        <result column="id" property="id"/>
        <result column="desc" property="desc"/>
        <result column="dev_key" property="devKey"/>
        <collection property="appList" ofType="com.iogogogo.entity.AppEntity">
            <result column="id" property="id"/>
            <result column="desc" property="desc"/>
            <result property="appKey" column="app_key"/>
        </collection>
    </resultMap>

    <select id="findByKey" resultMap="dev_map">
        SELECT * from sys_device a
        inner join sys_relation b on a.dev_key=b.dev_key
        inner join sys_app c on b.app_key=c.app_key
        where a.dev_key=#{devKey}
    </select>


</mapper>